<Configuration>
    <Credentials>
        <Path>EnterTheFilePathWhereYouWantToStorageYourCredentials (e.g. C:\Visma\File API\Ftaas.Examples\powershell\credentials\credentials_integration1.xml)</Path>
    </Credentials>

    <Services>
        <FileApiBaseUrl>https://api.raet.com/mft/v1.0</FileApiBaseUrl>
        <AuthenticationTokenApiBaseUrl>https://api.raet.com/authentication</AuthenticationTokenApiBaseUrl>
    </Services>

    <Upload>
        <TenantId>EnterYourTenantId</TenantId>
        <BusinessTypeId>EnterYourBusinessTypeId</BusinessTypeId>
        <Path>EnterTheFullPathOfTheFileToUpload (e.g: C:\Visma\File API\Ftaas.Examples\powershell\upload\file\02_content_text_file.zip)</Path>
    </Upload>
</Configuration>