<Configuration>
    <Credentials>
        <Path>EnterTheFilePathWhereYouWantToStoreYourCredentials (e.g. C:\Visma\File API\Ftaas.Examples\powershell\credentials\credentials_integration1.xml)</Path>
    </Credentials>

    <Services>
        <FileApiBaseUrl>https://api.raet.com/mft/v1.0</FileApiBaseUrl>
        <AuthenticationTokenApiBaseUrl>https://api.raet.com/authentication</AuthenticationTokenApiBaseUrl>
    </Services>

    <Upload>
        <TenantId>EnterYourTenantId</TenantId>
        <BusinessTypeId>EnterYourBusinessTypeId</BusinessTypeId>
        <Path>EnterTheDirectoryToUpload (e.g.: C:\Visma\File API\Ftaas.Examples\powershell\upload\file)</Path>
        <ArchivePath>EnterTheDirectoryForArchivedFiles (e.g.: C:\Visma\File API\Ftaas.Examples\powershell\archive)</ArchivePath>
    </Upload>
</Configuration>