<Configuration>
    <Credentials>
        <Path>EnterTheFilePathWhereYouWantToStoreYourCredentials (e.g. C:\Visma\File API\Ftaas.Examples\powershell\credentials\credentials_integration.xml)</Path>
    </Credentials>

    <Services>
        <FileApiBaseUrl>https://fileapi.youforce.com/v1.0</FileApiBaseUrl>
        <AuthenticationTokenApiBaseUrl>https://connect.visma.com/connect</AuthenticationTokenApiBaseUrl>
    </Services>

    <Authentication>
        <VismaConnectTenantId>EnterYourVismaConnectTenantId</VismaConnectTenantId>
    </Authentication>

    <Upload>
        <BusinessTypeId>EnterYourBusinessTypeId</BusinessTypeId>
        <Path>EnterTheDirectoryToUpload (e.g.: C:\Visma\File API\Ftaas.Examples\powershell\upload\VismaDeveloperPortal\file)</Path>
        <Filter>EnterFilemaskToUseForUpload (e.g.: *.xml)</Filter>
        <ArchivePath>EnterTheDirectoryForArchivedFiles (e.g.: C:\Visma\File API\Ftaas.Examples\powershell\VismaDeveloperPortal\archive)</ArchivePath>
	    <ChunkSize>4</ChunkSize>
    </Upload>
</Configuration>
